#Music {
    display: none;
}

#Music2 {
    display: none;
}

#pos {
}

#tapDiv {
    height: 150px;
    border-radius: 75px;
    display: table;
    width: 100%;
}

#text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#BPM {
    text-align: center;
    margin: 10px;
}

#BPM h1 {
    display: inline;
    font-size: 400%;
    text-align: center;
}

#BPM2 {
    text-align: center;
    margin: 10px;
}

#BPM2 h1 {
    display: inline;
    font-size: 400%;
    text-align: center;
}

span.small {
    diplay: inline;
    font-size: medium;
}