#Music {
    display: none;
}

#tapDiv {
    height: 150px;
    border-radius: 75px;
}

#text {
    height: 150px;
    vertical-align: middle;
    text-align: center;
}

#BPM {
    text-align: center;
    margin: 10px;
}

#BPM h1 {
    display: inline;
    font-size: 400%;
    text-align: center;
}

span.small {
    diplay: inline;
    font-size: medium;
}